.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  .mainTitle {
    text-align: center;
    color: #432D2D;
  }

  .fieldset {
    border-radius: 10px;
    border: #432D2D dashed 2px;
    color: #432D2D;
  }

  .inputField {
    border-radius: 8px;
    padding: 8px;
    border: none;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  ::placeholder {
    color: #432d2da8; 
  }

  .list {
    padding: 0;
  }
}